<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre Mí
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manuel Verdejo Ramírez</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <a href="https://www.google.es/maps/place/Av.+San+Juan+de+la+Salle,+59A,+41008+Sevilla/@37.4075568,-5.9755145,17z/data=!3m1!4b1!4m6!3m5!1s0xd126952063d5aa7:0x42172102d8d3a9!8m2!3d37.4075568!4d-5.9729396!16s%2Fg%2F11v3j2nbfw?entry=ttu"><ion-icon name="home"></ion-icon></a>
        <ion-label>Dirección: Avenida San Juan de la Salle 59A Bajo A</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call"></ion-icon>
        <ion-label>Teléfono: 652 08 25 18</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-label>Email: manuel.verdejo.ramirez@gmail.com</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
